{% extends 'base.html' %}
{% block content %}
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  <table>
    <tr><th>Article</th><th>Views</th></tr>
    {% for article in articles %}
      {% if article.published %}
        <tr>
          <td><a href="/article/{{ article.slug }}">{{ article.title }}</a></td>
          <td>{{ article.views }}</td>
        </tr>
      {% else %}
        {% if logged_in %}
          <tr><td><a href="/article/{{ article.slug }}">{{ article.title }}</a></td><td>draft</td></tr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </table>
{% endblock %}
