{% extends 'base.html' %}
{% block head %}
  {% if question.answer is none %}
    <script>
      async function refresh_if_ready() {
        const response = await fetch(window.location.href + "/ready");
        const data = await response.json();
        if (data.ready) location.reload();
      }
      setInterval(refresh_if_ready, 1000);
    </script>
  {% endif %}
{% endblock %}
{% block border %}border{% endblock %}
{% block content %}
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  <h2>{{ question.question }}</h2>
  {{ html|safe }}
  {% if question.answer is none %}
    <p>Loading... This usually takes under 10 seconds.</p>
  {% endif %}
  {% if user.admin %}
    <form action="/{{ tr['language'] }}/question/{{ question.slug }}" method="post">
      {{ csrf|safe }}
      <p><input name="question" size="50" value="{{ question.question }}" placeholder="Question"/></p>
      <p><input name="slug" size="50" value="{{ question.slug }}" placeholder="Slug"/></p>
      <p><textarea name="answer" rows="25" cols="50">{% if question.answer is not none %}{{ question.answer }}{% endif %}</textarea></p>
      <p><input type="submit" value="Submit Changes"/></p>
    </form>
    <form action="/{{ tr['language'] }}/question/{{ question.slug }}/delete" method="post">
      {{ csrf|safe }}
      <p><input type="submit" value="Delete Question"/></p>
    </form>
  {% endif %}
{% endblock %}
